<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons  slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAQs
  </ion-toolbar>
</ion-header>

<br>
<ion-content>
  
  <ion-item>
    <h4>1. Does Capgemini have a defined framework for environmental sustainability?</h4>
  </ion-item>

  <ion-item>
    
    <div>
    <p>Yes. All sites of Capgemini within India subscribe to an environmental policy. The signed version of this is available Here, Indian web pages, India Environmental Awareness program and is also displayed at prominent locations across all sites in India.</p>
  </div>
  </ion-item>
      
  <br>
  <ion-item>
    <h4>2. Is Capgemini India certified to an Internationally recognized environmental standard?</h4>
  </ion-item>

  <ion-item>
    
    <div>
    <p>Yes. Capgemini India is certified to ISO 14001:2015 as part of Group Cerification</p>
  </div>
  </ion-item>
      
  <!-- <br><br>
  <div style="text-align: center;">
  <ion-button  (click)="deviceInfo()">Device Info</ion-button> 
  </div> -->
 
  <br>
  
    
</ion-content>

