<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Play Quiz
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <body>
  <form name="editForm" #form="ngForm">

<!-- Sizes -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-button size="large"  padding style="padding-left:117px;height: 108px;--background:black"
shape="round" fill="outline" routerLink="./startquiz" routerLinkActive="active"><ion-icon name="play-circle"></ion-icon>Start Game</ion-button>

   </form>
   </body>  
</ion-content>