<ion-header>
  <ion-toolbar color="bodycon">
    <ion-title color="dark"><b>Play Quiz</b>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="admindashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background">
  <form name="editForm" #form="ngForm">

<!-- Sizes -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<ion-button size="large"  padding style="padding-left:140px;height: 108px;--background:black"
shape="round" fill="outline" routerLink="./adminstartquiz" routerLinkActive="active"><ion-icon name="play-circle"></ion-icon>Start Game</ion-button>

   </form> 
</ion-content>