<ion-header class="ff">
  <ion-toolbar color="bodycon">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="welcometoapp"></ion-back-button>
    </ion-buttons>
    <ion-title><b style="color:black; text-align: center; size: 100px; ">&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;Update User Profile</b></ion-title>
  </ion-toolbar>
</ion-header>

<html>
  <ion-content class="ion-padding background">
  <br><br><br><br><br>
  <div class="btmSpace ">
    <p tappable (click)="updatePersonalData()" class="button1 instagram"><span class="gradient"></span>Update Personal Info</p>
    </div>
<br>
    <div class="btmSpace ">
      <p tappable (click)="updateSeatInfo()" class="button1 instagram"><span class="gradient"></span>Update Seat Info</p>
      </div>


</ion-content>
</html>
