ion-content.background{
  
	--ion-background-color: linear-gradient(to bottom,#b7f1e9 0%,#fff 100%);
  }


/*Timer*/
.circle-button{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color:white;
    border: 1px solid white;
    box-shadow: inset 0 0 0 3px #00b8a4;
    color:black;
}

.circle-button-bg{
    height: 50px;
    width: 50px;
}
