<ion-header>
  <ion-toolbar color="bodycon">
    <ion-title color="dark"><b>Quiz Category</b>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="quizdash"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="background"> 
    <br>
    <br> 
  <form name="editForm" #form="ngForm" (ngSubmit)="saveQuiz(form)">

    <ion-list>
      <ion-item>
        <ion-input style="color: black;font-size:100%" placeholder="Enter the title " name="title" ngModel required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input style="color: black;font-size:100%" placeholder="Description " name="desc" ngModel required>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="bodycon" type="submit">SUBMIT</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-list>
  </form> 
</ion-content>