<ion-header class="ff">
  <ion-toolbar color="bodycon">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title><b style="color:black; text-align: center; size: 100px; ">&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;Assert Details</b></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding background">
  <ion-card>
    <ion-card-header>
      <h5 style="text-align: left;">
        <font face="verdana" color="#4EC2B2"> <b>{{data.assetTypeId}} Details</b></font>
      </h5>
      <ion-card-title><b>AssetTypeId :</b> <span style="font-size: 15px;">&nbsp;<b>{{data.assetTypeId}}</b></span></ion-card-title>
      <ion-card-title><b>AssetNumber :</b> <span style="font-size: 15px;">&nbsp;<b>{{data.assetNumber}}</b></span></ion-card-title>
      <ion-card-title><b>AssetTypeName :</b> <span style="font-size: 15px;">&nbsp;<b>{{data.assetTypeName}}</b></span></ion-card-title>
      <ion-card-title><b>AssetModel :</b> <span style="font-size: 15px;">&nbsp;<b>{{data.assetModel}}</b></span></ion-card-title>
      <ion-card-title><b>ciDesc :</b> <span style="font-size: 15px;">&nbsp;<b>{{data.ciDesc}}</b></span></ion-card-title>
    </ion-card-header>

  </ion-card>

</ion-content>